html {
  background-color: lightblue;
}

a {
  text-decoration: none;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.links {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
}

.audio {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.audio a {
  text-align: center;
  padding: 25px 100px;
  border-radius: 10px;
  background-color: white;
}

.audio a:hover {
  background-color: rgba(255, 255, 255, 0.548);
  transition: height 0.5s ease-out 0s;
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.video a {
  text-align: center;
  text-align: center;
  padding: 25px 100px;
  border-radius: 10px;
  background-color: white;
}

.video a:hover {
  background-color: rgba(255, 255, 255, 0.548);
  transition: height 0.5s ease-out 0s;
}

body {
  margin: 0;
}
header {
  background-color: #0c5c91;
  color: white;
  padding: 20px;
}

nav {
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.form input[type='text'] {
  width: 400px;
  height: 40px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form input[type='submit'] {
  height: 40px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
