<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Convert</title>
  </head>
  <body>
    <header>
      <nav>
        <h1>Convert Youtube to MP4 & MP3</h1>
      </nav>
    </header>
    <form action="/audio_download" method="post">
      <input type="text" name="audio_input" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
